.flex-container {
  display: flex;
}
.flex-container > div {
  width:33.33333%;
  height:20vw;
}
.flex-container > .width66 {
  width:66.6666%;
  height:20vw;
}
.flex-container > .height25_33_50 {
  width:100%;
  height:20vw;
}
.flex-direction-column{
    flex-direction: column;
}
