table{
    width:100%;
}
.first-row {
    height:20vw;
}
.second-row {
    height:6.667vw;
}
.third-row {
    height:10vw;
}
.fourth-row {
    height:20vw;
}
.fifth-row {
    height:0.8333333333vw;
}
