    .clearfix::after {
        content: "";
        clear: both;
        display:table;
    }
    .width33 {
         float: left;
         width: 33.33%;
         height:20vw;
     }
    .width66 {
         float: left;
         width: 66.66%;
         height:20vw;
     }
     .height25 {
         float: left;
         width: 33.33%;
         height:5vw;
     }
     .height33 {
         float: left;
         width: 33.33%;
         height:6.6667vw;
     }
     .height50 {
         float: left;
         width: 33.33%;
         height: 10vw;
     }
   
